.lmj-cart {
    background-color: #31b572;
    padding: 32px;
    color: white;
    max-width: 350px;
    width: 350px;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    
}

.cart-open {
    position: absolute;
    height: 36px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: #31b572;
    color: white;
    font-size: medium;
    font-weight: 600;
    margin: 20px;
    cursor: pointer;
    /* transition: all 0.4s ease-in-out; */
}

.cart-close {
    border: none;
    background-color: transparent;
    color: white;
    font-size: medium;
    cursor: pointer;
    width: max-content;
    padding: 20px;
    font-weight: 600;
    /* transition: all 0.4s ease-in-out; */
}

.lmj-cart-closed {
    transition: all 0.4s ease-in-out;
    color: white;
}