.lmj-plant-list {
	list-style-type: none;
	padding: 32px 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	gap: 2%;
}


.plant-list {
	width: 100%;
	display: flex;
	justify-content: center;
}